# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/keymap-default.toml

[mgr]
prepend_keymap = [
    { on = "q", run = "close" },
    { on = "<C-c>", run = "quit" },
    { on = "k", run = "plugin max-preview up" },
    { on = "j", run = "plugin max-preview down" },
    { on = "K", run = "plugin max-preview UP" },
    { on = "J", run = "plugin max-preview DOWN" },
    { on = "<Up>", run = "plugin max-preview up" },
    { on = "<Down>", run = "plugin max-preview down" },
    { on = "<S-Up>", run = "plugin max-preview UP" },
    { on = "<S-Down>", run = "plugin max-preview DOWN" },
    { on = "l", run = "plugin smart-enter" },
    { on = "<C-k>", run = "plugin parent-arrow -1" },
    { on = "<C-j>", run = "plugin parent-arrow +1" },
    { on = "x", run = "shell --interactive --orphan --cursor=0 ' %s'"},
    { on = "X", run = "shell --interactive --blocking --cursor=0 ' %s'"},
    { on = "<C-y>", run = "unyank"},
    { on = "d", run = "yank --cut"},
    { on = "D", run = ["shell 'trash %s'", "escape --select"]},
    { on = "<C-d>", run = "remove --permanently"},
    { on = "S", run = "shell 'RANGER_LEVEL=1 \"$SHELL\"' --block"},
    { on = "i", run = "plugin max-preview toggle" },
    { on = "v", run = "toggle_all" },
    { on = "V", run = "visual_mode" },
    { on = "a", run = "rename --cursor=before_ext" },
    { on = "A", run = "rename --cursor=end" },
    { on = "<C-a>", run = "rename --empty=all" },
    { on = "R", run = "shell 'bulkrename %s'" },
    { on = "P", run = ["plugin merge-paste"] },
    { on = "b", run = ["shell --interactive --cursor=16 \"togetherize %s ''\"", "escape --select"] },
    { on = "B", run = ["shell 'togetherize %s \"$(basename \"$PWD\")\"'", "escape --select"] },
    { on = "z", run = ["shell --interactive --cursor=11 'isolate %s '", "escape --select"] },
]

[input]
prepend_keymap = [
    { on = "<Esc>", run  = "close"},
]
