# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/yazi-default.toml

[mgr]
show_symlink = false

[preview]
wrap = "yes"

[opener]
enter = [
    { run = 'ya emit enter' },
]
open_image = [
    { run = 'imgview %s1', desc = "Open image", for = "linux" },
]
open_media = [
    { run = 'mpv %s1', desc = "Open Audio/Video" },
]

[open]
rules = [
    # Folder
    { url = "*/", use = [ "enter" ] },
    # Text
    { mime = "text/*", use = [ "edit" ] },
    { mime = "inode/empty", use = [ "edit" ] },
    { url = "*.{json,xml,ebuild,js}", use = [ "edit" ] },
    # Image
    { mime = "image/*", use = [ "open_image" ] },
    # Media
    { mime = "{audio,video}/*", use = [ "open_media" ] },
    # Archive
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract" ] },
]
